<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Liverpool Suite">
	<listeners>
		<listener class-name="com.github.edvega.appliances.utilities.Listeners" />
		<listener class-name="com.github.edvega.appliances.utilities.ExtentReporterNG" />
	</listeners>
	
	<test thread-count="5" name="HomePageTests">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="driverName" value="chromedriver"></parameter>
		<!-- 
		<groups>
			<run>
				<include name="login" />
			</run>
		</groups>
		 -->
		<classes>
			<class name="com.github.edvega.appliances.tests.HomePageTest" />
		</classes>
	</test>
	
	<test name="AppliancesPageTests">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="driverName" value="chromedriver"></parameter>
		<groups>
			<run>
				<include name="results" />
			</run>
		</groups>
		
		<classes>
			<class name="com.github.edvega.appliances.tests.AppliancesPageTest" />
		</classes>
	</test>
</suite> <!-- Suite -->